.transition-fade {
  transition: 0.4s;
  transform: scale(1) translateY(0);
  transform-origin: top center;
  opacity: 1;
}

.is-animating .transition-fade {
  opacity: 0;
  transform: scale(1) translateY(-20px);
}
.is-leaving .transition-fade {
  // opacity: 0;
  transform: scale(0.95) translateY(40px);
}
