// VARIABLES

// Typography
@import url("https://fonts.googleapis.com/css?family=Archivo|Archivo+Narrow:500,700&display=swap");

$type-base: "Archivo", sans-serif;
$type-heading: "Archivo Narrow", sans-serif;
$type-linewidth: 38em;
$type-color-body: rgba(0, 0, 0, 0.8);
$type-color-headings: #000;

// Colors
$background: #f1f2f6;
$light-grey: #bfbfbf;
$mid-grey: #737373;
$dark-grey: #404040;
$black: #0d0d0d;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// Box shadow
$box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

// IMPORTS
@import "./partials/global.scss";
@import "./partials/typography.scss";
@import "./partials/helpers.scss";
@import "./partials/transitions.scss";

// Can delete when starting a new project
@import "./partials/starter.scss";
